// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card {
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.08);
}

.border-1 {
    border-width: 0.5rem !important;
}

.theme-dark {
    background-color: #1b1e21;
}

.theme-orange {
    background-color: orange;
}

#navbarSupportedContent div div button:focus {
    outline: none !important;
}
